* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: lightslategray;
}


h1 {
    color: white;
    text-decoration: double;
    text-align: center;
    margin-top: 350px;
}

#startbtn {
    background-color: lightcoral;
    color: white;
    padding: 10px;
    position: relative;
    top: 40%;
    left: 48%;
}

#timer {
    color: black;
    text-align: center;
    margin-bottom: 200px;
    font-size: 30px;
}

#answerbtns button {
    background-color: lightcoral;
    box-shadow: 1px 2px 2px lightslategray;
    color: white;
}

#questions {
    color: white
}

#result {
    color: black;
    font-size: 25px;
}

#quiz {
    text-align: center;
    margin-top:200px;
    display: none;
}

#gameoverDiv {
    display: none;
}