* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h1 {
    color: lightcoral;
    text-align: center;
    margin-top: 350px;
}

#startbtn {
    background-color: black;
    color: white;
    padding: 10px;
    position: absolute;
    top: 40%;
    left: 48%;
}

span {
    position: absolute;
    top:0;
}